{% extends "store/base.html" %}

{% load static %}

{% block content %}

    <br>
    
    {% comment %} wyglad pasujacy do reszty {% endcomment %}
    <div class="container bg-gray-800 shadow-md p-5 form layout text-center">
        
        <i class="fa fa-envelope fa-5x"></i> {% comment %} <- fontawesome.com ikonka {% endcomment %}
        <br><br>

        <h3><strong> A verification link was sent to your email </strong></h3>

        <p>Please check your email.</p>

    </div>

{% endblock %}
