

{% include "store/base.html" %}


{% load static %}


{% block content %}


<body>

    <br>
    
    {% comment %} wyglad pasujacy do reszty {% endcomment %}
    <div class="container bg-gray-800 shadow-md p-5 form layout text-center">
        
     
        <span style='font-size:100px;'>&#10060;</span> {% comment %} <- fontawesome.com ikonka{% endcomment %}
    <br>
    <br>
    <h3> <strong> Account is not verified </strong> </h3>


    </div>
    

</body>


{% endblock %}









<h1>  </h1>

