
{% comment %} nawiazanie do calego sklepu {% endcomment %}
{% include "store/base.html" %}


{% load static %}


{% load crispy_forms_tags %}



{% block content %}


{% comment %} okno rejestracji mialo byc innego kolory ale nie dzila ?! {% endcomment %}
    {% comment %} <style>

        body{

            background-color: gray;


        }





    </style> {% endcomment %}




    <body>

        <br>
        
        {% comment %} wyglad pasujacy do reszty {% endcomment %}
        <div class="container bg-gray-800 shadow-md p-5 form layout">

            <h3> Create your account </h3>

            <h5> The best store in the world </h5>

            <br>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}
                
                <br>

                {{form.username|as_crispy_field}}

                <br>

                {{form.email|as_crispy_field}}

                <br>

                {{form.password1|as_crispy_field}}

                <br>

                {{form.password2|as_crispy_field}}
                
                {% comment %} {{form}}   <--  brzydka forma bez szablonow crispy {% endcomment %}
                

                <br>

                <button type="submit" class="btn btn-secondary btn-lg w-100 btn-clock p-2"> &nbsp; Create account </button>


            </form>





    </body>



{% endblock  %}