{% extends "store/base.html" %}

{% load static %}

{% block content %}

    <br>

    <div class="container bg-grey shadow-md p-5" style="width:500px; border-radius:20px;">

        <form id="form">

            <div>

                <h3>
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                    &nbsp; Complete your order
                </h3>

                <p>Please enter information below.</p>

                <hr>
                <br>

                <div class="mb-3">
                    <input class="form-control" id="name" type="text" placeholder="Full name*" autocomplete="off" required value="{{ address.full_name }}">
                </div>

                <div class="mb-3">
                    <input class="form-control" id="email" type="email" placeholder="Email address*" autocomplete="off" required value="{{ address.email }}">
                </div>

                <div class="mb-3">
                    <input class="form-control" id="address1" type="text" placeholder="Address 1*" autocomplete="off" required value="{{ address.address1 }}">
                </div>

                <div class="mb-3">
                    <input class="form-control" id="address2" type="text" placeholder="Address 2*" autocomplete="off" value="{{ address.address2 }}">
                </div>

                <div class="mb-3">
                    <input class="form-control" id="city" type="text" placeholder="City*" autocomplete="off" required value="{{ address.city }}">
                </div>

                <div class="mb-3">
                    <input class="form-control" id="state" type="text" placeholder="State (Optional)" autocomplete="off" value="{{ address.state }}">
                </div>

                <div class="mb-3">
                    <input class="form-control" id="zipcode" type="text" placeholder="Zip code (Optional)" autocomplete="off" value="{{ address.zipcode }}">
                </div>


            </div>

            <br>

            <button id="complete-order" type="submit" class="btn btn-primary navbar-btn text-white">
                &nbsp; Complete order
            </button>

            <br><br>

            {% comment %} PAYPAL DO ZROBIENIA {% endcomment %}
            <div id="paypal-button-container"></div>

        </form>

    </div>

    <br>

    <script>
    $(document).on('submit', '#form', function(e){
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url "complete-order" %}',
            data: {
                name: $('#name').val(),
                email: $('#email').val(),
                address1: $('#address1').val(),
                address2: $('#address2').val(),
                city: $('#city').val(),
                state: $('#state').val(),
                zipcode: $('#zipcode').val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function(json){
                window.location.replace("{% url 'payment-success' %}");
            },
            error: function(xhr, errmsg, err){
                window.location.replace("{% url 'payment-failed' %}");
            }
        });
    });
    </script>

{% endblock %}
