{% comment %} nawiazanie do calego sklepu "stopka u gory" {% endcomment %}
{% include "store/base.html" %}


{% load static %}


{% load crispy_forms_tags %}



{% block content %}



    <div style="margin-top: 50px;">

        <h3>Password Reset</h3>

        <hr>

        <p>Enter your email address below.</p>

        <form method="post" style="display: flex; gap: 10px; align-items: center;">

            {% csrf_token %}

            {{ form.email }}

            <input type="submit" value="Send email">

        </form>

    </div>




{% endblock %}