
{% comment %} nawiazanie do calego sklepu "stopka u gory" {% endcomment %}
{% include "store/base.html" %}


{% load static %}


{% load crispy_forms_tags %}



{% block content %}




    <body>

        <br>
        
        {% comment %} wyglad pasujacy do reszty {% endcomment %}
        <div class="container bg-gray-800 shadow-md p-5 form layout">

            <h3> DELETE your account </h3>


            <br>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}
                
                <p> Are you sure?</p>

                <button type="submit" class="btn btn-secondary btn-lg w-100 btn-clock p-2"> &nbsp; DELETE MY ACCOUNT </button>


            </form>

            <div class="container bg-gray-800 shadow-md p-5 form layout">

                



    </body>



{% endblock  %}